.dark pre .code-block-wrapper {
  display: block;
  overflow-x: auto;
  padding: 34px 16px 16px;
  border-radius: 1rem;
  background: var(--bg-code-block);
}

.dark .hljs {
  background: inherit;
  color: #cbd5e1
}

.dark .hljs-keyword,
.dark .hljs-literal,
.dark .hljs-name,
.dark .hljs-symbol {
  color: #00e5a0
}

.dark .hljs-link {
  color: #00e5a0;
  text-decoration: underline
}

.dark .hljs-built_in,
.dark .hljs-type {
  color: #4dd0b8
}

.dark .hljs-class,
.dark .hljs-number {
  color: #80ffca
}

.dark .hljs-meta .hljs-string,
.dark .hljs-string {
  color: #75c8b0
}

.dark .hljs-regexp,
.dark .hljs-template-tag {
  color: #9a5334
}

.dark .hljs-formula,
.dark .hljs-function,
.dark .hljs-params,
.dark .hljs-subst,
.dark .hljs-title {
  color: #cbd5e1
}

.dark .hljs-comment,
.dark .hljs-quote {
  color: #5a8a7a;
  font-style: italic
}

.dark .hljs-doctag {
  color: #5a8a7a
}

.dark .hljs-meta,
.dark .hljs-meta .hljs-keyword,
.dark .hljs-tag {
  color: #64748b
}

.dark .hljs-template-variable,
.dark .hljs-variable {
  color: #75c8b0
}

.dark .hljs-attr,
.dark .hljs-attribute {
  color: #80ffca
}

.dark .hljs-section {
  color: #00e5a0
}

.dark .hljs-emphasis {
  font-style: italic
}

.dark .hljs-strong {
  font-weight: 700
}

.dark .hljs-bullet,
.dark .hljs-selector-attr,
.dark .hljs-selector-class,
.dark .hljs-selector-id,
.dark .hljs-selector-pseudo,
.dark .hljs-selector-tag {
  color: #d7ba7d
}

.dark .hljs-addition {
  background-color: rgba(0, 229, 160, 0.08);
  display: inline-block;
  width: 100%
}

.dark .hljs-deletion {
  background-color: rgba(255, 0, 0, 0.08);
  display: inline-block;
  width: 100%
}
