.medium-zoom-overlay {
  z-index: 200;
  background: var(--bg-card) !important;
}

.dark .medium-zoom-overlay {
  background: var(--bg-primary) !important;
}

.medium-zoom-image--opened {
  z-index: 210;
}
