.theme-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  margin-right: 6px;
}
.theme-icon {
  fill: var(--admin-text, #4b5563);
  height: 100%;
  align-items: center;
  :hover {
    fill: var(--admin-accent, #7a7e84);
  }
}
:global {
  .ant-menu-inline-collapsed {
    .theme-text {
      display: none;
    }
  }
}
.theme-icon-dark {
  fill: rgb(148, 163, 184);
  height: 100%;
  align-items: center;
  :hover {
    fill: rgb(0, 229, 160);
  }
}
